div.component {
    margin: auto;
    width: 1000px;
    padding: 40px;
    background-color: #E8F0F2;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
.title {
    color: #053742;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

div.info {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    background-color: #FFFFFF;
}