{% extends "base.html" %} {% block contenido %}
<h4>Buscador</h4>
<div class="containerBuscador">
  <form name="getuser" id="getUser" method="post">
    <div id="ctn-barra-busqueda">
      <input
        type="text"
        name="cc"
        id="entradaBusqueda"
        placeholder="Digita id del usuario"
      />
    </div>

    <div id="ctn-icono-busqueda">
      <!-- <i type="submit" class="fas fa-search" id="icono-busqueda"></i> -->
      <input name="submit_button" type="submit" value="Buscar" class="btn btn-primary">
    </div>

    
  </form>

  <div class="containerBuscador2">
    <div class="tablaBuscador">
      <table class="table table-bordered">
        <thead id="thead">
        </thead>
        <tbody id="tbody"></tbody>
      </table>
    </div>
  </div>
  <script src="../static/js/forms.js"></script>

  {% endblock %}
</div>
