{% extends "base.html" %} {% block contenido %}
<h4>Buscador</h4>
<div class="containerBuscador">
  <form name="getuser" id="getUser" method="post">
    <div id="ctn-barra-busqueda">
      <input
        type="text"
        name="cc"
        id="entradaBusqueda"
        placeholder="Digita la cedula"
      />
    </div>

    <div id="ctn-icono-busqueda">
      <i class="fas fa-search" id="icono-busqueda"></i>
    </div>

    <input class="button"type="submit" value="Buscar" />
  </form>

  <div class="containerBuscador2">
    <div class="tablaBuscador">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Primer Nombre</th>
            <th scope="col">Segundo Nombre</th>
            <th scope="col">primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">cedula</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
    </div>
  </div>
  <script src="../static/js/forms.js"></script>

  {% endblock %}
</div>
