{% extends "baseDocente.html" %}
{% block contenido %}
    <div class="component">
        <h1><img src="/static/images/lupa.png" alt="Imagen busqueda" width="40" >Buscar actividad</h1>
        <div class="mensajes">
            {% with mensajes=get_flashed_messages() %}
            {% if mensajes %}
            {% for mensaje in mensajes %}
                <p>{{mensaje}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %} <br>
        </div>
        
        <div class="info">
            <form method="post" name="getactivity" id="getActivity" autocomplete="on">
                <div class="mb-3">
                    <label>Cod. actividad:</label>
                    <input type="text" name="codActividad" class="form-control">
                </div>

                <div class="mb-3">
                    <label>Cod. estudiante:</label>
                    <input type="text" name="codUsuario" class="form-control">
                </div>

                <input name="submit_button" type="submit" value="Cancelar" class="btn btn-primary">
                <input name="submit_button" type="submit" value="Buscar" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}