{% extends "base.html" %}
{% block contenido %}
<head>
    <link rel="stylesheet" href="{{  url_for('static',  filename='css/styleTabs.css')  }}">
</head>
<header>
    <h4>Cursos</h4>
</header>
    <div id='contador'>
    <p>
        <b>    Cantidad de cursos: <span style="color:#053742">{{ cursos["cant"] }}</span> </b><br>
        
    </p>
    </div>
    <br>
    <br>
    <a class="boton" href="/DashBoard-Administrativo/cursos/crearCurso" target="">Crear curso</a>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Curso</th>
            
            
          </tr>
        </thead>
        <tbody>
          {% for curso in cursos.curso %}
            <tr>
              <th scope="row">{{ curso[0] }}</th>
              <td scope="row">{{ curso[1] }}</td>
            </tr>
          {% endfor %}

        </tbody>
      </table>

    
    {% endblock %}