{% extends "base.html" %}
{% block contenido %}
<head>
    <link rel="stylesheet" href="{{  url_for('static',  filename='css/styleTabs.css')  }}">
</head>
<header>
    <h4>Docentes</h4>
</header>
    <div id='contador'>
    <p>
        <b>    Cantidad de Docentes : <span style="color:#053742;text-decoration:none">{{ docente["cant"] }}</span> </b><br>
        
    </p>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Cédula</th>
            <th scope="col">Correo Electrónico</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in docente.users %}
          <tr>
            <th scope="row">{{ usuario[0] }}</th>
            <td>{{ usuario[1] }} {{ usuario[2] }}</td>
            <td>{{ usuario[3] }} {{ usuario[4] }}</td>
            <td>{{ usuario[5] }}</td>
            <td>{{ usuario[6] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    
    {% endblock %}