<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Administrador</title>

    <link rel="stylesheet" href="{{  url_for('static',  filename='css/styleLogin.css')  }}">

</head>
<body>
    <h1>ADMINISTRADOR</h1>
    <div id='main'>
        <div class="encabezado">
        <img id="image" src="{{  url_for('static',  filename='img/uam.png')  }}" alt="actualice la pagina">
        <h4>Iniciar sesión</h4>
        </div>
        <form action="/DashBoard-Administrativo" methods="POST" name="formLogin">
            <!-- estas son las referencias para el fomulario.py -->
            <!-- {{ form.csrf_token() }} -->
            <p style="font-size:larger ;">
                <!-- este form es el que esta definido en app.py -->
                
                {{ form.usuario.label }}</p>
                {{ form.usuario(size=25)}}<br />
            
            <p style="font-size:larger ;">
                {{ form.password.label }}</p>  
                {{ form.password(size=25)}}
                <!-- checkbox que nos permite activar o desactivar la opcion -->
                <h5> 
                <input type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña" />
                &nbsp;&nbsp;Mostrar Contraseña</h5>      
            </p>
            <div id='send'>
                <br>
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>

</body>
</html>