{% block docente %}
    <h1>Docentes</h1>
    <div class='mainDocente'>
        <div class="encabezado">
        <img id="image" src="{{  url_for('static',  filename='img/uam.png')  }}" alt="actualice la pagina">
        <h4><i>Recuerda usar tu correo institucional</i></h4>
        <h4>Iniciar sesión</h4>
        </div>
        <form action="" methods="POST" name="formregistro">
            <!-- estas son las referencias para el fomulario.py -->
            <p style="font-size:medium ;">
                <!-- este form es el que esta definido en app.py -->
                {{ data['form'].usuario.label }}</p>
                {{ data["form"].usuario(size=25)}}<br />
            
            <p style="font-size:medium ;">
                {{ data["form"].password.label }}</p>  
                {{ data["form"].password(size=25)}}
                <!-- checkbox que nos permite activar o desactivar la opcion -->
                <h5> 
                <input type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña" />
                &nbsp;&nbsp;Mostrar Contraseña</h5>      
            </p>
            <div id='send'>
                {{ data["form"].inicio_sesion(size=30 )}}
            </div>
        </form>
    </div>
{% endblock %}