{% extends "baseDocente.html" %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buscar</title>
    <link rel="stylesheet" href="/static/css/retroAlimenBusqueda.css">
</head>
<body>

    <div class="component">
        <h1><img src="/static/images/lupa.png" alt="Lupa de busqueda" width="30">Buscar</h1>
        <div class="info">
            <form class="busca" name="getuser" id="getUser" method="post" autocomplete="on">
                <label>iD : </label>
                    <input type="text" name="cc" placeholder="Digita el id">
                     <input class="button" type="submit" value="Buscar" >
                <br>
                <br>
                 
                    <input type="radio" name="busc" value="1">
                <label>Estudiante</label>
                    <input type="radio" name="busc" value="2">
                <label>Asignatura</label><br>

            </form>
            <br>
           
            <div class="containerBuscador2">
                <div class="tablaBuscador">
                  <table class="table table-bordered">
                    <thead id="thead">
                    </thead>
                    <tbody id="tbody"></tbody>
                  </table>
                </div>
              </div>
        </div>
          
      

        
    </div>

    <script src="../static/js/forms.js"></script>
</body>
</html>
{% endblock %}