{% extends "baseDocente.html" %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="stylesheet" href="/static/css/retroAlimenBusqueda.css">
</head>
<body>

    <div class="component">
        <h1><img src="/static/images/lupa.png" alt="Lupa de busqueda" width="30">Buscar</h1>
        <div class="info">
            <form class="busca" action="DashBoard-Administrativo/docentes/resultados" method="get" autocomplete="on">
                <label>Codigo : </label><input type="text">
                     <input class="button" type="submit" value="Buscar">
                <br>
                <br>
                    <input type="radio" name="busc" id="cursp">
                <label for="curso">Curso</label>
                    <input type="radio" name="busc">
                <label>Estudiante</label>
                    <input type="radio" name="busc">
                <label>Asignatura</label><br>
                <input class="volver" type="submit" formaction="/DashBoard-Administrativo/docentes" value="Regresar"> 

            </form>

        </div>
        
    </div>

    
</body>
</html>
{% endblock %}