{% extends "base.html" %}
{% block contenido %}


    <head>
        <link rel="stylesheet" href="{{  url_for('static',  filename='css/styleRegistro.css')  }}">
    </head>
    <h4>Registrar</h4>
<div class="mensajes">
{% with mensajes=get_flashed_messages() %}
{% if mensajes %}
{% for mensaje in mensajes %}
    <p>{{mensaje}}</p>
{% endfor %}
{% endif %}
{% endwith %} <br>
</div>
    <form action="/DashBoard-Administrativo/registrar" method="POST" name="formregistro">
 
        <div id='main'>
            <div class='container'>
                <div id='divisionA'>
                   
                    <p>
                       
                        {{ form.primerNombre.label }}<br />
                        {{ form.primerNombre(size=30)}}<br />
                    </p>
                    <p>
                       
                        {{ form.segundoNombre.label }}<br />
                        {{ form.segundoNombre(size=30)}}<br />
                    </p>
                    <p>
                        {{ form.primerApellido.label }}<br />
                        {{ form.primerApellido(size=30)}}<br />
                    </p>
                    <p>
                        {{ form.segundoApellido.label }}<br />
                        {{ form.segundoApellido(size=30)}}<br />
                    </p>
                    <p>
                        {{ form.codUsuario.label }}<br />
                        {{ form.codUsuario(size=30)}}<br />
                    </p>
                </div>
                <div id='divisionB'>
                    <p>
                        {{ form.direccion.label }}<br />
                        {{ form.direccion(size=30)}}<br />
                    </p>
                    <p>
                        {{ form.email.label }}<br />
                        {{ form.email(size=30)}}<br />
                    </p>
                    <p>
                        {{ form.clave.label }}<br />
                        {{ form.clave(size=30)}}<br />
                    </p>
                </div>
                <p>
                    <label for="sex"> Sexo : <br>
                        <input type="radio" id="sex" name="sex" value="h"> Hombre <br>
                        <input type="radio" id="sex" name="sex" value="m" /> Mujer <br>
                        <input type="radio" id="sex" name="sex" value="" /> Otro

                    
                </p>
                <p>
                    Tipo de usuario :
                    <select id="lista1" name="entradalista1">
                        <optgroup>
                            <option selected="selected">...</option>
                            <option value="1">Estudiante</option>
                            <option value="2">Docente</option>
                        </optgroup>
    
                    </select>
                </p>
            </div>
            <div id='send'>
                <br>
                <br>
                {{ form.enviar(size=30 )}}<br />
            </div>
    
    </form>
    </div>
    {% endblock %}