<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados busqueda</title>
    <link rel="stylesheet" href="/static/css/retroAlimenBusqueda.css">
</head>
<body>
    <div class="component">
        <h1>Resultados busqueda</h1>
        <div class="info">
            <form class="busca" action="/docente/resultados" method="get" autocomplete="on">
                <label>Palabras clave</label><input type="text"> 
                <br>
                <input type="radio" id="cursp"><label for="curso">Curso</label><input type="radio"><label>Estudiante</label><input type="radio">
                <label>Asignatura</label><br>
                <textarea class="resultados"></textarea>
                <br>
                <input class="volver" type="submit" formaction="/DashBoard-Administrativo/docentes" value="Regresar"> 

            </form>

        </div>
        
    </div>

    
</body>
</html>