

<head>
    <title>R.Actividad</title>
    
    <link rel="stylesheet" href="{{  url_for('static',  filename='css/retroAlimenBusqueda.css')  }}">
</head>

    <div class="component">
        <h1>Retroalimentar actividad</h1>
        <div class="mensajes">
            {% with mensajes=get_flashed_messages() %}
            {% if mensajes %}
            {% for mensaje in mensajes %}
                <p>{{mensaje}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %} <br>
            </div>
        <section>
        <div class="info">
            <aside>
                <form action="" method="post">
                    <p>Comentarios:</p>
                    <textarea name="mensaje"> </textarea><br>
                    <input class="button" name="submit-button"type="submit" formaction="/DashBoard-Docentes/buscarActividad" value="Cancelar">
                    <input class="button" name="submit-button"type="submit" value="Aceptar">
                </form>
                </aside>
                <p><h5>Informacion de actividad : </h5></p>
            <table>
                <thead>
                </thead>
                <tbody id="tbody-retroalimentarActividad">
                                      
                    <tr>
                        <td>Cod. curso: {{data[0]}}</td>
                    </tr>
                    <tr>
                        <td>Cod. asignatura: {{data[1]}}</td>    
                    </tr>
                    <tr>
                        <td>Cod. actividad: {{data[2]}}</td>
                    </tr>
                    <tr>
                        <td>Cod. estudiante: {{data[7]}}</td>
                    </tr>
                    <tr>
                        <td>Nota: <input type="text" id="nota-obtenida"name="nota-obtenida" class="form-control" value="{{data[3]}}"></td>
                    </tr>                     
                </tbody>
            </table>
        </div>
      </section>
    </div>
