<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="../../img/logo.png" type="png" />
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" media="(min-width:768px)" href="./css/tablet.css">
  <link rel="stylesheet" media="(min-width:1024px)" href="./css/desktop.css">
  <!-- Bootstrap -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Universidad de Manizales</title>
</head>

<body id="body">
  <header>
    <div>
      <img class="logo" src="../../img/logo.png" alt="logo">
    </div>    
    <div class="nameUM">
      <h1 >UNIVERSIDAD AUTONOMA DE MANIZALES</h1>
    </div>
  </header>
  <nav>
    <a class="enlaces" href="./index.html">Inicio</a>
    <a class="enlaces" href="./detallesAct.html">Detalles de Actividad</a>
    <a class="enlaces" href="./view/html/notasG.html">Notas Generales</a>
    <a class="enlaces" href="./notasEspe.html">Notas Especiales</a>
    <a class="enlaces" href="./datosDocente.html">Datos del docente</a>
    <a class="enlaces" href="./datosEtudiante.html">Datos del Estudiante</a>
  </nav>

  <div class="container" id="container">
    <div class="formulario">
      <div class="title">
        <h2>DATOS DEL ESTUDIANTE</h2>
      </div>
      <div class="contenedor-datos">
        <div class="datos">
          <div class="datos-doc">
            <div class="data">
              <p for="name">Nombre:     </p>
              <p id="name">Juan Perez</p>
            </div>
            <div class="data">
              <p for="documento">Documento:     </p>
              <p id="documento">123456789</p>
            </div>
          </div>
          <div class="datos-doc">
            <div class="data">
              <p for="curso">Curso:     </p>
              <p id="curso">Diseño Web</p>
            </div>
            <div class="data">
              <p for="codigo">Codigo:     </p>
              <p id="codigo">1152247</p>
            </div>
          </div>
        </div>
        <div class="notas"></div>
      </div>
    </div>
    <div class="notas">
      <table class="table">
        <thead>
            <tr>
                <th>Asignatura</th>
                <th>Actividad 1</th>
                <th>Actividad 2</th>
                <th>Actividad 3</th>
                <th>Actividad 4</th>
                <th>Actividad 5</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="./notasEspe.html">JavaScript</a></td>
                <td>4.5</td>
                <td>4.6</td>
                <td>4.6</td>
                <td>4.6</td>
                <td>4.6</td>
                <td>4.6</td>
            </tr>
            <tr>
              <td><a href="./detallesAct.html">Bases de Datos</a></td>
              <td>4.5</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>              
            </tr>
            <tr>
              <td><a href="./detallesAct.html">Ingles</a></td>
              <td>4.5</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>           
            </tr>
            <tr>
              <td><a href="./notasEspe.html">Introduccion al Frontend</a></td>
              <td>4.5</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>
              <td>4.6</td>           
            </tr>
        </tbody>
    </table>
    </div> 
  </div>

  <script type="module" src="main.js"></script>
</body>
</html>