<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/logo.png" type="png" />
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" media="(min-width:768px)" href="./css/tablet.css">
    <link rel="stylesheet" media="(min-width:1024px)" href="./css/desktop.css">
    <title>Detalles de Actividad</title>

    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Estilos Propios -->
    <link rel="stylesheet" href="css/detalles.css">
</head>

<body>

    <header>
        <div>
            <img class="logo" src="../../img/logo.png" alt="logo">
        </div>    
        <div class="nameUM">
          <h1 >UNIVERSIDAD AUTONOMA DE MANIZALES</h1>
        </div>
      </header>
      <nav>
        <a class="enlaces" href="./index.html">Inicio</a>
        <a class="enlaces" href="./detallesAct.html">Detalles de Actividad</a>
        <a class="enlaces" href="./notasG.html">Notas Generales</a>
        <a class="enlaces" href="./notasEspe.html">Notas Especiales</a>
        <a class="enlaces" href="./datosDocente.html">Datos del docente</a>
        <a class="enlaces" href="./datosEtudiante.html">Datos del Estudiante</a>
      </nav>
    <div class="component">
        <h1 class="title">Detalles de la actividad</h1>

        <div class="info">
            <h3 class="title">Actividad #15983</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Información de la Actividad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id de Actividad: </td>
                        <td>#15983</td>
                    </tr>

                    <tr>
                        <td>Curso: </td>
                        <td>GM1A</td>
                    </tr>

                    <tr>
                        <td>Asignatura: </td>
                        <td>Desarrollo Web: HTML5, CSS3, JavaScript & Python</td>
                    </tr>

                    <tr>
                        <td>Docente: </td>
                        <td>William Pallares de la Rosa</td>
                    </tr>

                    <tr>
                        <td>Fecha de Inicio: </td>
                        <td>23 / 09 / 2021</td>
                    </tr>

                    <tr>
                        <td>Fecha límite: </td>
                        <td>02 / 10 / 2021</td>
                    </tr>

                    <tr>
                        <td>Fecha de Entrega: </td>
                        <td>01 / 10 / 2021</td>
                    </tr>

                    <tr>
                        <td>Calificación: </td>
                        <td>4.8</td>
                    </tr>
                </tbody>
            </table>

            <a href="notasEspe.html" class="btn btn-primary">Regresar a Notas - Desarrollo Web</a>
        </div>
    </div>
</body>
</html>