<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/logo.png" type="png" />
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" media="(min-width:768px)" href="./css/tablet.css">
    <link rel="stylesheet" media="(min-width:1024px)" href="./css/desktop.css">
    <title>Document</title>

    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Styles CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Scripts JS -->
    <script src="js/scripts.js"></script>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="../../img/logo.png" alt="logo">
        </div>    
        <div class="nameUM">
          <h1 >UNIVERSIDAD AUTONOMA DE MANIZALES</h1>
        </div>
      </header>
      <nav>
        <a class="enlaces" href="./index.html">Inicio</a>
        <a class="enlaces" href="./detallesAct.html">Detalles de Actividad</a>
        <a class="enlaces" href="./notasG.html">Notas Generales</a>
        <a class="enlaces" href="./notasEspe.html">Notas Especiales</a>
        <a class="enlaces" href="./datosDocente.html">Datos del docente</a>
        <a class="enlaces" href="./datosEtudiante.html">Datos del Estudiante</a>
      </nav>

    <div class="component form-component">
        <h1 class="title">Crear Actividad</h1>

        <div class="form">
            <form action="">
                <div class="mb-3">
                    <label class="form-label">Nombre de la Actividad</label>
                    <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Descripción:</label>

                    <div class="barTools">
                        <button type="button" class="btn">B</button>
                        <button type="button" class="btn">I</button>
                        <button type="button" class="btn">Ñ</button>
                        <button type="button" class="btn">Center</button>
                    </div>
                    <textarea class="form-control" id="description" rows="3"></textarea>
                  </div>
            </form>
        </div>
    </div>
</body>
</html>