div.component {
    margin: auto;
    width: 1000px;
    padding: 40px;
    background-color: #E8F0F2;
}

div.form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    background-color: #FFFFFF;
}

/* Crear Actividad */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
h1.title {
    color: #E8F0F2;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

input[type="text"],
textarea#description {
    border: 1px solid #053742;
    background-color: #E8F0F2;
}

div.barTools {
    display: flex;
    justify-content: flex-start;
    background-color: #053742;
}
button[type="button"] {
    color: white;
}

/**********************************
            css-Mariela
***********************************/

header{
    width: 100%;
    margin: 10px;
    height: 100px;
    display: flex;
    background-color: #E8F0F2 ;
}

.logo{
    width: 120px;
    background-size: cover;
    padding: 5px;
}

.nameUM{
    font-size: 30px;
    margin: auto;
    color: #053742;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.nameUM h1{
    font-size: 30px;
}

nav{
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #E8F0F2;
    margin-bottom: 30px;
}

.enlaces{
    cursor: pointer;
    font-size: medium;
    color: #053742;
    font-weight: 500;
    margin-top: 10px;
    border-right: solid 2px white;
    padding-right: 25px;
}

.container{
    margin-top: 60px;
    padding-top: 20px;
    height: auto;
    width: 100%;
}

.divInitial{
    background-color: red;
    width: 100;
}

.formulario{
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #E8F0F2;
}

.title{
    width: 50%;
    margin: auto;
    height: 50px;
    background-color: #053742;
}

.title h2{
    color: #E8F0F2;
    font-size: 25px;
    margin: auto;
    font-weight: 600;
    text-align: center;
}
.datos-doc{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.data{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    font-weight: bold;
    font-size: 16px;
}

.notas{
    margin-top: 20px;
    background-color: #E8F0F2;
}

