div.component {
    margin: auto;
    width: 850px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #E8F0F2;
}
h1 {
    text-align: center;
    color: #053742;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.actions {
    display: flex;
    justify-content: space-around;
}

textarea{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color: #E8F0F2;
}