div.component {
    margin: auto;
    width: 850px;
    height: 380px;
    padding: 10px;
    background-color: #E8F0F2;
}

h1 {
    text-align: center;
    color: #053742;
    font-family: 'Source Sans Pro', sans-serif;
}
div.info {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    background-color: #FFFFFF;
    height: 240px;
}

p {
    color: #053742;
    font-family: 'Source Sans Pro', sans-serif;
}

input{
    background-color:  #E8F0F2;
}

label {
    display: inline-block;
    width: 150px;
}

.button{
    background-color: rgb(24, 113, 230);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}



