div.component {
    margin: auto;
    width: 850px;
    height: 480px;
    padding: 10px;
    background-color: #E8F0F2;
}

h1 {
    text-align: center;
    color: #053742;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.info {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    background-color: #FFFFFF;
    height: 240px;
}

p {
    color: #053742;
     font-family: 'Source Sans Pro', sans-serif; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    background-color: #E8F0F2;
     border-style: unset; 
    border-color: #053742;
}

label {
    
    display: inline-block;
    width: 150px;
}

.button{
    background-color: rgb(24, 113, 230);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: rgb(24, 113, 230);
}
img{
    margin-right: 20px;
}
aside{
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    margin-right: 10px;

}

textarea{
    width: 400px;
    height: 150px;
    background-color: #E8F0F2;
}

.busca{
    text-align: center;
    margin-top: 50px;
}

.volver{
    text-align: center;
    background-color: rgb(24, 113, 230);
    color: white;
    margin-top: 35px;
    
    
}


