
h4{
    color:#053742;
}
#main{
    font-style: normal;
    font-weight: bold;
    width: 750px ;
    background-color:#E8F0F2;
    padding: 14px ;
    border-radius:10px;
    margin:auto;
    display: block ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.mensajes{
    padding: 10px;
    width: 750px;
    color: #E8F0F2;
    background-color: #5c99a7;
    margin: auto;
    font-weight: bold;
    text-align: center;
}
.container{
    column-count: 2;
}
#send{
    text-align: center;
}
#lista1{
    font-style: italic;
    
}
