
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

*{
    margin: 0;
    padding: 0;   
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    
    overflow: auto;
    
}
::-webkit-scrollbar {
    display: none;
}
.container-fluid{
    justify-content: space-between;
    position: auto;
    z-index: 10;
    box-sizing: border-box;
}
#cerrarSesion{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 70px; 
}
#cerrarSesion:hover{
    font-size: 17px;
    color:black;
    cursor:pointer;
    transition: all 300ms;

}
