h4{
    color:#053742;
}
#main{
    font-style: normal;
    font-weight: bold;
    width: 750px ;
    background-color:#E8F0F2;
    padding: 14px ;
    border-radius:10px;
    margin:auto;
    display: block ;

}
.container{
    column-count: 2;
}
#send{
    text-align: center;
}
#lista1{
    font-style: italic;
    
}
